<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" href="./css/main.min.css" />
	</head>
	<body>
		<header class="top-header">
			<div class="container top-header__container">
				<nav class="nav">
					<div class="logo nav__logo">
						<a class="logo__container" href="/"
							><img
								class="logo__face"
								src="./assets/svg/logo.svg"
								alt="Logo"
						/></a>
					</div>
					<button class="btn-toggle">
						<span class="btn-toggle__line"></span>
					</button>
					<ul class="nav__list">
						<li class="nav__item">
							<a class="nav__link" href="#">Услуги</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="#">Ремонт</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="#">Портфолио</a>
						</li>
						<li class="nav__item nav__item--active">
							<a class="nav__link nav__link" href="#">О нас</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="#">Статьи</a>
						</li>
						<li class="nav__item">
							<a class="nav__link" href="#">Контакты</a>
						</li>
					</ul>
					<a class="nav__link nav__link--phone" href="tel:87003000340"
						>8 (700) 300-03-40</a
					>
				</nav>
			</div>
		</header>
		<section class="section offer">
			<div class="wide-screen offer--100per">
				<div class="wide-screen__content offer--100per">
					<div class="wide-screen__content--narrow offer__left">
						<div class="logo offer__logo">
							<a class="logo__container" href="/"
								><img
									class="logo__face"
									src="./assets/img/logo-big.png"
									alt="Logo"
							/></a>
						</div>
						<p class="offer__text">СТУДИЯ ДИЗАЙНА ИНТЕРЬЕРА</p>
						<div class="offer__line"></div>
						<ul class="list offer__list">
							<li class="list__item list__item--offer">
								<a
									class="offer__link"
									href="#"
									aria-label="Go to instagram"
								>
									<i class="_icon-instagram"></i>
								</a>
							</li>
							<li class="list__item list__item--offer">
								<a
									class="offer__link"
									href="#"
									aria-label="Go to vk"
								>
									<i class="_icon-vk"></i>
								</a>
							</li>
							<li class="list__item list__item--offer">
								<a
									class="offer__link"
									href="#"
									aria-label="Go to facebook"
								>
									<i class="_icon-facebook"></i>
								</a>
							</li>
							<li class="list__item list__item--offer">
								<a
									class="offer__link"
									href="#"
									aria-label="Go to pinterest"
								>
									<i class="_icon-pinterest"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="wide-screen__content--wide offer__right">
						<header class="section__header offer__header">
							<h2 class="section__title offer__title">
								РОСКОШНЫЙ
								<span class="offer__focus"
									>ДИЗАЙН ИНТЕРЬЕРА</span
								>
								В НУР-СУЛТАНЕ
							</h2>
							<p class="section__description offer__description">
								Мы создаем уникальные проекты любой сложности на
								высоком уровне качества!
							</p>
							<a
								class="btn btn--white btn--cylinder offer__btn--ml"
								href="#"
								>Расчет стоимости</a
							>
						</header>
					</div>
				</div>
			</div>
		</section>
		<section class="section products">
			<div class="container">
				<header class="section__header section__header--bb">
					<h2 class="section__title section__title--txt-center">
						Наши проекты
					</h2>
				</header>
				<ul class="products__list">
					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a href="#" class="products__link-wrapper">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>

					<li class="products__item">
						<a class="products__link-wrapper" href="#">
							<img
								class="products__img"
								src="./assets/img/p-1.jpg"
								alt="Дом для двух поколений"
							/>
							<p class="products__title">
								Дом для двух поколений
							</p>
							<p class="products__description">
								Уютная студия в ЖК Адмирал
							</p>
						</a>
					</li>
				</ul>

				<div class="products__btns">
					<a class="btn btn--rectangle products__btn" href="#"
						>Жилые помещения</a
					>
					<a class="btn btn--rectangle products__btn" href="#"
						>Коммерческие помещения</a
					>
				</div>
			</div>
		</section>

		<section class="section goals">
			<img
				class="goals__bg"
				src="./assets/img/goals-bg.png"
				alt="Our goals"
			/>
			<div class="goals__wrapper">
				<div class="container">
					<header class="section__header goals__header">
						<h2 class="section__title goals__title">
							Мы всегда
							<span class="section__accent">стремимся</span> к
							<span class="section__accent">совершенству</span> во
							всех деталях!
						</h2>
					</header>
					<div class="goals__text-block">
						<p class="goals__text">
							Мы <span>находимся</span> в Астане (Нур-Султане), но
							работаем во всех городах <span>Казахстана</span> как
							удаленно, так и с выездом на замер и авторский
							надзор.
						</p>
						<p class="goals__text">
							Нами уже были <span>реализованы проекты</span> в г.
							Актау, Алматы, Павлодар, Шымкент, Жезказган,
							Караганды, Актобе, Тараз, Атырау и Петропавловск.
						</p>
						<p class="goals__text">
							Среди которых <span>не только жилые дома</span> и
							квартиры, но коммерческие помещения: рестораны,
							кафе, лаунж-бары, сауна и SPA, гостиницы и другое.
						</p>
					</div>
					<ul class="list-goals goals__list">
						<li class="list-goals__item">
							<img
								class="list-goals__img"
								src="./assets/img/list-goals-1.png"
								alt="goal 1"
							/>
							<h2 class="list-goals__title">
								Цена и качетво <br />лучшее соотношение
							</h2>
							<p class="list-goals__description">
								Для получения наиболее оптимального результата,
								при этом не потеряв больших средств, мы грамотно
								распределяем бюджет Заказчика еще на стадии
								проектирования. При этом Вы не потеряете в
								качестве!
							</p>
						</li>
						<li class="list-goals__item">
							<img
								class="list-goals__img"
								src="./assets/img/list-goals-2.png"
								alt="goal 2"
							/>
							<h2 class="list-goals__title">
								контролируем и координируем
							</h2>
							<p class="list-goals__description">
								Рабочие не будут Вас донимать своими вопросами.
								Мы берем под свой авторский контроль работу
								отделочной бригады. В итоге Вы сэкономите кучу
								времени и получите полностью соответствующий
								проекту интерьер
							</p>
						</li>
						<li class="list-goals__item">
							<img
								class="list-goals__img"
								src="./assets/img/list-goals-3.png"
								alt="goal 3"
							/>
							<h2 class="list-goals__title">
								комплектуем и декорируем
							</h2>
							<p class="list-goals__description">
								Мы отлично знаем рынок отделочных материалов,
								поставщиков мебели, освещения и других предметов
								интерьера. Мы подберем Вам все в соответствии с
								Вашим бюджетом!
							</p>
						</li>
						<li class="list-goals__item">
							<img
								class="list-goals__img"
								src="./assets/img/list-goals-4.png"
								alt="goal 4"
							/>
							<h2 class="list-goals__title">
								стильно и роскошно со вкусом
							</h2>
							<p class="list-goals__description">
								Мы разрабатываем стильные и неповторимые
								интерьеры с утонченной роскошью. Какой бы ни
								была задача, Вы всегда можете быть уверены, что
								наша работа Вас приятно удивит и очарует!
							</p>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="section benefits">
			<div class="container">
				<ul class="benefits__list benefits-list">
					<li class="benefits-list__item">
						<div class="benefits-list__img-block">
							<div class="benefits-list__content-img">
								<img
									class="benefits-list__small-img"
									src="./assets/img/benefits-list/benefits-1-s.jpg"
									alt="benefits"
								/>
								<img
									class="benefits-list__big-img"
									src="./assets/img/benefits-list/benefits-1-b.jpg"
									alt="benefits"
								/>
							</div>
						</div>
						<div class="benefits-list__description-block">
							<header class="benefits-list__header">
								<h3 class="benefits-list__subtitle">
									Коллекция
								</h3>
								<h2 class="benefits-list__title">
									Экслюзивный<br />
									Дизайн
								</h2>
							</header>
							<div class="benefits-list__content-text">
								<p class="benefits-list__text">
									Каждый проект дизайна интерьера
									разрабатывается нами индивидуально для
									каждого заказчика. Мы не повторяем свои
									проекты и стараемся каждый проект делать
									непохожими на другие. При разработке дизайна
									мы учитываем все пожелания своих клиентов и
									всегда рады предложить свежие идеи.
								</p>
							</div>
						</div>
					</li>
					<li class="benefits-list__item">
						<div class="benefits-list__img-block">
							<div class="benefits-list__content-img">
								<img
									class="benefits-list__small-img"
									src="./assets/img/benefits-list/benefits-2-s.jpg"
									alt="benefits"
								/>
								<img
									class="benefits-list__big-img"
									src="./assets/img/benefits-list/benefits-2-b.jpg"
									alt="benefits"
								/>
							</div>
						</div>
						<div class="benefits-list__description-block">
							<header class="benefits-list__header">
								<h3 class="benefits-list__subtitle">
									Коллекция
								</h3>
								<h2 class="benefits-list__title">
									Профессиональный подход
								</h2>
							</header>
							<div class="benefits-list__content-text">
								<p class="benefits-list__text">
									В нашей команде работают дипломированные
									специалисты с большим опытом. Нами было
									реализовано большое количество объектов,
									поэтому для нас основной ценностью является
									ответственный подход к своей работе. Мы
									тщательно следим за тенденциями на рынке и
									всегда в курсе всех новинок. Своих партнеров
									и подрядчиков мы всегда выбираем, исходя из
									их опыта и качества предоставляемых ими
									услуг.
								</p>
							</div>
						</div>
					</li>
					<li class="benefits-list__item">
						<div class="benefits-list__img-block">
							<div class="benefits-list__content-img">
								<img
									class="benefits-list__small-img"
									src="./assets/img/benefits-list/benefits-3-s.jpg"
									alt="benefits"
								/>
								<img
									class="benefits-list__big-img"
									src="./assets/img/benefits-list/benefits-3-b.jpg"
									alt="benefits"
								/>
							</div>
						</div>
						<div class="benefits-list__description-block">
							<header class="benefits-list__header">
								<h3 class="benefits-list__subtitle">
									Коллекция
								</h3>
								<h2 class="benefits-list__title">
									Внимательное исполнение
								</h2>
							</header>
							<div class="benefits-list__content-text">
								<p class="benefits-list__text">
									Команда опытных профессионалов хорошо знает,
									как провести авторский надзор, тщательно
									отслеживая каждый этап, м подобрать все
									необходимые материалы для того, что бы
									реализация объекта соответствовала проекту.
									А отличное знание рынка отделочных
									материалов, оборудования, мебели и декора
									помогут Вам сэкономить время, нервы, и
									пожалуй самое главное - Ваш бюджет!
								</p>
							</div>
						</div>
					</li>
					<li class="benefits-list__item">
						<div class="benefits-list__img-block">
							<div class="benefits-list__content-img">
								<img
									class="benefits-list__small-img"
									src="./assets/img/benefits-list/benefits-4-s.jpg"
									alt="benefits"
								/>
								<img
									class="benefits-list__big-img"
									src="./assets/img/benefits-list/benefits-4-b.jpg"
									alt="benefits"
								/>
							</div>
						</div>
						<div class="benefits-list__description-block">
							<header class="benefits-list__header">
								<h3 class="benefits-list__subtitle">
									Коллекция
								</h3>
								<h2 class="benefits-list__title">
									Внимательное исполнение
								</h2>
							</header>
							<div class="benefits-list__content-text">
								<p class="benefits-list__text">
									В нашей команде работают дипломированные
									специалисты с большим опытом. Нами было
									реализовано большое количество объектов,
									поэтому для нас основной ценностью является
									ответственный подход к своей работе. Мы
									тщательно следим за тенденциями на рынке и
									всегда в курсе всех новинок. Своих партнеров
									и подрядчиков мы всегда выбираем, исходя из
									их опыта и качества предоставляемых ими
									услуг.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<footer class="footer">
			<div class="container">
				<div class="footer__top">
					<ul class="footer__list">
						<li class="footer__item footer__item--header">
							Наш телефон
						</li>
						<li class="footer__item">8 (700) 300-03-40</li>
						<li class="footer__item">8 (778) 800-03-40</li>
						<li
							class="footer__item footer__item--footer footer__item--nested"
						>
							<ul class="footer__list">
								<li class="footer__item footer__item--header">
									Присоединяйтесь
								</li>
								<li class="footer__item footer__item--line">
									<a
										class="icon-link link footer__link"
										href="#"
										><i class="_icon-pinterest"></i
									></a>
								</li>
								<li class="footer__item footer__item--line">
									<a class="icon-link footer__link" href="#"
										><i class="_icon-instagram"></i
									></a>
								</li>
								<li class="footer__item footer__item--line">
									<a class="icon-link footer__link" href="#"
										><i class="_icon-vk"></i
									></a>
								</li>
								<li class="footer__item footer__item--line">
									<a class="icon-link footer__link" href="#">
										<i class="_icon-facebook"></i>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="footer__list">
						<li class="footer__item footer__item--header">
							Наш адрес
						</li>
						<li class="footer__item">
							Республика Казахстан,010000,
						</li>
						<li class="footer__item">
							г. Нур-Султан, ул. Достык 13
						</li>
						<li
							class="footer__item footer__item--footer footer__item--nested"
						>
							<ul class="footer__list">
								<li class="footer__item footer__item--header">
									Написать на почту
								</li>
								<li class="footer__item footer__item--line">
									dh.studio.kz@gmail.com
								</li>
							</ul>
						</li>
					</ul>
					<img
						class="footer__map"
						src="./assets/img/footer-map.jpg"
						alt="map"
					/>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="container">
					<div class="footer__bottom-content">
						<p class="footer__text">
							Все права защищены.<br />
							© 2021 Политика конфидициальности
						</p>
						<p class="footer__text">
							Сайт разработан специально<br />
							от SuperStudio.com
						</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
		<script src="./script/main.js"></script>
	</body>
</html>
