:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-cod-gray: #191919;
	--clr-satin-linen: #e1dece;
	--clr-dove-gray: #6e6e6e;
	--clr-silver: #c4c4c4;

	--cont-mw: 1200px;
	--cont-pd-lr: 15px;

	--fs: 16px;
	--ff: "Consolas", sans-serif;

	--z-low: 10;
	--z-menu: 100;
	--z-menu-fixed: 110;
	--z-menu-control: 120;
}
